.container{
	margin: 10px;
	padding: 10px;
	display: flex;
	direction: column;	
	justify-content: center;
}

.like-btn{
	width: 100px;
	background-color: rgb(93, 193, 93);
	justify-content: center;
	text-align: center;	
	align-items: center;
	font-family: 'Roboto Mono', monospace;
	font-size: 20px;;
	color: #ffffff;
	border: 1px solid rgb(215, 215, 215);
	width: 200px;
	height: 55px;
	padding: 20px;;
	box-shadow: 2px 2px 2px black;
	border-radius: 20px;
	margin: 10px;
}

.dislike-btn{
	width: 100px;
	background-color: rgb(207, 92, 92);
	justify-content: center;
	align-items: center;
	text-align: center;	
	font-family: 'Roboto Mono', monospace;
	font-size: 20px;;
	color: #ffffff;
	border: 1px solid rgb(215, 215, 215);
	width: 200px;
	height: 55px;
	box-shadow: 2px 2px 2px black;
	border-radius: 20px;
	margin: 10px;
}