@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,400;0,500;1,400&display=swap');

*{
	box-sizing: border-box;
	margin: 0 auto;
	font-family: 'Roboto Mono', monospace;
}

.container {
	width: 100%;
	display: flex;
	justify-content: center;
	direction:column;
	background: linear-gradient(#b3f0ff, #ffb3f0, #f0ffb3);
}
