.add-btn{
	justify-content: center;
	align-items: center;
	font-family: 'Roboto Mono', monospace;
	font-size: 20px;;
	color: #000000;
	background-color:#c4f0b3;
	border: 1px solid rgb(215, 215, 215);
	width: 200px;
	height: 55px;
	padding: 20px;;
	box-shadow: 2px 2px 2px black;
	border-radius: 20px;
	margin: 10px;
}
.add-btn:hover{
	color: rgb(1, 41, 120);
	background-color:rgb(236, 236, 236);

}