


.card-container{	
	justify-content: center;
	align-items: center;
	direction: column;	
	padding:10px;
	background: rgba( 255, 255, 255, 0.25 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 4px );
	-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
margin: 10px;
}

header{
	display: flex;
	justify-content: space-evenly;	
	align-content: center;
	direction: column;
	padding: 20px;	
	width: 100%;
}
.container{
	display: flex;
	align-items: center;
	justify-content: space-between;
	direction: column;
	
}
.title{
	font-family: 'Roboto Mono', monospace;
	font-size: 25px;
	font-weight: 600;
	text-shadow: 2px 2px 2px white;
	display: flex;
	align-items: center;
	align-content: center;
	text-align: center;

}
.add-btn{
	justify-content: center;
	align-items: center;
	font-family: 'Roboto Mono', monospace;
	font-size: 20px;
	text-align: center;
	color: #000000;
	background-color:#ecb3f0;
	border: 1px solid rgb(215, 215, 215);
	padding: 10px;
	box-shadow: 2px 2px 2px black;
	border-radius: 10px;
	margin: 10px;
}
.add-btn:hover{
	color: rgb(1, 41, 120);
	background-color:rgb(236, 236, 236);

}

.cat-id{
	display: flex;
	justify-content: center;
}

.img-cats{
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	padding: 50px;

}

/* mobile */

@media only screen and (max-width: 601px) {
	.container{
		justify-content: center;
		display: block;
		direction: column;
	}

	.card-container{
		display: flex;
		width: 800px;
		align-items: center;
		justify-content: center;
	}

	header{
		display: block;
		direction: column;
	}
}
